
catboost==1.2.8
fastjsonschema==2.21.2
Flask==3.1.2
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jupyter==1.1.1
jupyterlab==4.4.7
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
numpy==2.2.6
packaging==25.0
pandas==2.3.2
postgrest==2.25.1
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.32.1
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==3.3.0
pytz==2025.2
pywin32==311
pywinpty==3.0.0
PyYAML==6.0.2
pyzmq==27.1.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
Send2Trash==1.8.3
uvicorn==0.40.0
yarl==1.22.0
